.btn.continue {
  transform: unset;
  margin-top: 40px;
  background: #222;
}
.btn.continue:hover {
   background: #2c3e50;
}

.btn-wrap.sales {
  margin-top: 10%;
}

.btn-wrap.sales .btn {
  padding: 50px;
}
.btn-wrap.sales .btn.done {
  padding: 50px;
  background: #32563b;
  color: white !important;
}
